html{
    font-family:'Courier New', Courier, monospace;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #FFFFFF;
    font-size: 2vw;
    color: #25242D;
}

footer{
    margin: 5%;
    font-size: 1vw;
}

hr{
    border: 1px solid #25242D;
    margin-left: 5%;
    margin-right: 5%;
}

p{
    margin-left: 10%;
    margin-right: 10%;
}

h1{
    margin: 0px;
    padding: 0px;
    font-weight: bolder;
}

ul{
    margin: 0px;
    padding: 0px;
}

ol{
    padding: 2%;
    margin: 0px;
    background-color: #F689A2;
    list-style: none;
    display: inline-block;
    text-align: left;
    font-weight: bold;
}

il{
    padding-left: 5px;
    margin: 0px;
    text-align: left;
    font-weight: lighter;
}

/*Navbar formatting*/
nav{
    background-color: #25242D;
    padding: 15px;

}
nav a{
    padding: 5px;
    padding-right: 10px;
    color: #FAB57F;
    text-decoration: none;
}
nav a:hover{
    font-weight: bolder;
    font-size: 1.8vw;
}

/*Classes*/
.center{
    text-align: center;
}

.section2{
    background-color: #6C7EB3;
    padding-top: 1%; 
    padding-bottom: 5%;
}

.section3{
    margin: 5%;
}

.section4{
    background-color: #25242D; 
    color: #ffffff;
    padding: 5%;
}


/*Computers*/
@media screen and (min-width: 1068px){
    .CanberraModernLogo{
        text-align: center;
        width: 1068px;
        padding-left: calc((100% - 1068px)/2);
        padding-right: calc((100% - 1068px)/2);
        background-color: #25242D;
    }
}

/*Tablets*/
@media screen and (max-width: 1068px){
    body{
        font-size: 3vw;
    }
    .CanberraModernLogo{
        width: 100%;
        height: auto;
        padding-left: 0;
        padding-right: 0;
        
    }
    nav a:hover{
        font-size: 2.5vw;
    }
    footer{
        font-size: 1.5vw;
    }
}

/*Phones*/
@media screen and (max-width: 734px){
    body{
        font-size: 5vw;
    }
    .CanberraModernLogo{
        width: 100%;
        height: auto;
        padding-left: 0;
        padding-right: 0;
    }
    footer{
        font-size: 2.5vw;
    }
}